// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbotron { background:url(./cat.jpg) center no-repeat; background-size: cover;}

.display-3{
  font-family: 'Quicksand', sans-serif;
}

.navbar-brand{
  font-family: 'Quicksand', sans-serif;
}