// Place all the styles related to the cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-wrap{
  margin: 0 auto;
}

.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.movie{
  display: flex;
  flex-wrap: wrap;
}

.content{
  display: block;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}

.title{
  text-align: center;
  font-weight: bold;
}

.text{
  margin: 5px;
}

.user-name{
  text-align: right;
  margin: 10px 20px;
}
video{ 
  width: 300px;
  height: 250px; 
  margin: 20px;
}